body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-block {
  text-align: center;
}

.card-link a {
  text-decoration: none;
  color: #232323;
}

.card-link {
  margin-bottom: 16px;
}

.card-title,
.card-link .card-title a {
  color: #007bff;
}

.card-title:hover,
.card-link .card-title a:hover {
  text-decoration: underline;
}

.card:hover {
  background: #dbe3fa;
}
